/*----------привяка footer к низу экрана--------------*/
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    flex: 1 0 auto;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 1 0 auto;
}

/*-----------------------main--------------------------*/
body {
    background-color: #bc9cff;
}

.jumbotron {
    background-color: #9a63ff;
    text-align: center;
    padding: 5px 32px;
}

.javascript-text {
    background-color: orange;
}

.container {
    max-width: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

label {
    display: inline;
}

.btn {
    margin-bottom: 15px;
}

div svg {
    height: 500px;
    width: 500px;
}

/*-----------------------------------------------------*/
.display-5 {
    font-size: 3.5rem;
    font-weight: 100;
    line-height: 1.2;
}

footer {
    color: #999; /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
    background-color: #9a63ff;
    text-align: center;
}

.inner {
    padding: 30px;
}

a,
a:focus,
a:hover {
    color: #ffffff;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
}

a:focus,
a:hover {
    opacity: .7;
    text-decoration: none;
}

.tabb {
    margin: 10px;
    padding: 5px;
    text-align: center;

}

.tabb td {
    padding: 5px;
}

div span {
    color: #9a63ff;
    font-weight: bolder;
    font-size: 1.5rem;
    vertical-align: center;
}

#first, #second {
    text-align: center;
    margin: auto;
    padding: 5px;
}

#first::after, #second::after {
    display: none;
}