body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Forward, sans-serif;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-track {
    background-color: #000000;
}

body::-webkit-scrollbar-thumb {
    background-color: #ea4867;
}

/*----------------------------*/

header {
    width: 100%;
    height: 8vmin;
    min-height: 4vmin;
    top: 0;
}

.navigation-mini, .navigation-full {
    width: 100%;
    height: 8vmin;
    min-height: 4vmin;
    background-color: #ea4867;
    position: fixed;
    z-index: 1;
}

/*--------------------------------*/
main {
    z-index: 0;
    position: relative;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #1a1a1a;
    width: 100%;
    text-align: center;
    color: #ea4867;
    height: 16vmin;
    min-height: 7vmin;

    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    color: #ea4867;
    font-family: Roboto, "Helvetica Neue", serif;
}

h2 {
    font-style: italic;
    color: #ea4867;
    font-family: "Helvetica Neue", serif;
    margin: 0;
}

h3 {
    font-family: "Helvetica Neue", serif;
    font-style: italic;
}

p {
    text-align: center;
}

ul {
    list-style: square outside;
}

a {
    text-decoration: none;
}

div li {
    margin: auto;
}

/*------------------------*/


/*страница поэмы одиночной*/

#hr-poem {
    width: 100%;
    height: 3px;
    margin: auto auto 15px;
    border-style: solid;
    color: #ea4867;
    background-color: #ea4867;

}

#block-poem {
    width: 300px;
    margin: auto;

}

#audio-block {
    text-align: center;
    position: absolute;
    left: 25%;
    right: 25%;
}

#name-author {
    text-align: right;
}

/*----------------------------*/

/*Встроекнная поэма*/

.block {
    width: 50%;
    margin: auto;
}

.name {
    font-style: italic;
    text-align: right;
}

audio {
    text-align: center;
}

/*----------------------------*/

.img-block-me {
    float: left;
    height: 300px;
    width: auto;
    margin: 0 10px auto auto;
}

.text {
    display: inline-block;
    font-size: 2vmin;
    text-align: start;
    padding-bottom: 1vmin;
}

.text-2 {
    font-size: 2vmin;
    text-align: start;
    display: block;
}

/*----------------------------*/

/*navigation bar*/
nav.navigation-full {
    height: 8vmin;
    min-height: 4vmin;
}

nav.navigation-full ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
    text-align: center;
    height: 8vmin;
    min-height: 4vmin;
}

nav.navigation-full ul ul {
    display: none;
    position: absolute;
}

nav.navigation-full ul li:hover > ul {
    display: inherit;
}

nav.navigation-full ul ul li {
    padding: 10px 10px 10px 0;
    min-width: 100px;
    display: list-item;
    position: relative;
    background-color: #ea4867;

}

nav.navigation-full ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
}

nav.navigation-full ul li a {
    color: #FFFFFF;
}

.menu {
    font-size: 40px;
    color: #FFFFFF;
}

nav.navigation-full ul ul li:hover { /* цвет padding при наведении*/
    background-color: #14ea77;
}

.border-radius-start { /* закругление верхов*/
    border-radius: 0 10px 0 0;
}

.border-radius-end { /* закругление концов*/
    border-radius: 0 0 10px 10px;
}

/*--------------------------------------------*/

/*отображение при экране больше 960 пикселей*/
@media screen and (min-width: 1200px ) {

    .flexbox {
        margin: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .navigation-mini {
        display: none;
    }
}

/*отображение при экране меньше 960 пикселей*/
@media screen and (max-width: 1200px ) {
    .navigation-full {
        display: none;
        z-index: 0;
    }

    .menu2 {
        font-size: 5vmin;
        color: #FFFFFF;

    }

    .name-menu {
        font-size: 3vmin;
        color: #FFFFFF;
    }

    nav.navigation-mini {
        text-align: center;
        height: 8vmin;
        min-height: 4vmin;
    }

    nav.navigation-mini ul {
        margin: auto;
        list-style: none;
        height: 8vmin;
        min-height: 4vmin;
        line-height: 7vmin;
        padding: 0;
    }

    nav.navigation-mini ul ul {
        display: none;
        text-align: center;
    }

    nav.navigation-mini ul li {
        height: 8vmin;
        min-height: 4vmin;
        margin: auto;
    }

    nav.navigation-mini ul li:hover > ul {
        display: inherit;
    }

    nav.navigation-mini ul ul li {
        display: list-item;
        background-color: #ea4867;
        height: 12vw;
        z-index: 1;
        line-height: 12vw;
    }

    nav.navigation-mini ul li ul li:hover { /* цвет padding при наведении*/
        background-color: #14ea77;
    }


    div li {
        margin: auto;
    }
}

.left {
    flex: 1 1 30%;
    text-align: center;
}

.center {
    flex: 1 1 40%;
    text-align: center;
}

.right {
    flex: 1 1 30%;
    text-align: center;
}

.text-in-column {
    font-size: 3vmin;
    margin: 1vw;
}

/*-------------------*/

/*left flex*/

div.left ul li {
    list-style: none;
}

div.left ul {
    padding: 0;
}

.image {
    width: 100%;
    max-width: 250px;
    margin: 10px 10px 10px 10px;
    filter: grayscale(100%);
    transition: 0.5s;
}

.image:hover {
    filter: grayscale(0);
}

/*---------------*/

/*center flex*/
#gifEarch {
    width: 50%;
    height: 50%;
    padding: 10px 10px 10px 10px;
}

/*---------------*/

/*right flex*/

div.right ul li {
    list-style: none;
}

div.right ul {
    padding: 0;
}

#video-up {
    width: 85%;
    height: 15vmax;
    border: 5px solid white;
    margin: 50px 0 0 0;
}

#video-end {
    width: 85%;
    height: 15vmax;
    border: 5px solid white;
    margin: 50px 0 0 0;
}

/*--footer----*/
footer p {
    font-style: normal;
    color: #ea4867;
}
footer div.sm{
    margin-top: 16px;
}
footer hr {
    width: 100%;
    border: 0;
}
footer a{
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0 5vw;
    min-width: 3vw;
    max-width: 7vw;
    min-height: 3vw;
    max-height: 7vw;
    background-color: #ea4867;
    border-radius: 100%;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3),
    -6px -6px 12px rgba(0, 0, 0, 0.3);
    font-size: 2vw;
    transition: 0.25s linear;
}

footer a:hover{
    transform: scale(1.3);
    border-radius: 50%;
}

footer a i::before{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 150%;
    top: 0;
    left: 0;
    background-size: 200% 200%;
    background-position: 75% 75%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background .25s linear;
}

footer a:hover i::before{
    background-position: 0 0;
}

footer .fa-instagram::before{
    background-image: linear-gradient(to bottom right, #ffffff 40%,#1a1a1a 10%);
}

footer .fa-youtube::before{
    background-image: linear-gradient(to bottom right,#ffffff 40%,#1a1a1a 10%);
}

footer .fa-telegram::before{
    background-image: linear-gradient(to bottom right,#ffffff 40%,#1a1a1a 10%);
}

/*---------------*/

@media print {
    @page {
        margin: 1cm;
    }

    body {
        margin: 0;
        padding: 0;
        line-height: 1.4em;
        word-spacing: 1px;
        letter-spacing: 0.2px;
        color: #000;
        font-family: Times, 'Times New Roman', serif;
        font-size: 20px;
    }

    #logo, #catnavi, .topnavi, .more-link, .navigation, #sidebartop, #related, #social, #sponsors, .tabs, #allpost,
    .toolbar, .splitbox, #commentform, #commentabs .idTabs, .postmeta-content .comments, #respond h3, .tag, .footerlinks {
        display: none;
    }

    a:link, a:visited {
        background: transparent;
        color: #333;
        text-decoration: none;
    }

    a:link[href^="http://"]:after, a[href^="http://"]:visited:after {
        content: " (" attr(href) ") ";
        font-size: 11px;
    }

    a[href^="http://"] {
        color: #000;
    }

    h1, p, h2, a {
        color: black !important;
    }

    div.block_myself div {
        text-align: justify;
    }

    div.left, div.right, hr, nav, footer, audio {
        display: none;
    }

}