body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Forward, sans-serif;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-track {
    background-color: #000000;
}

body::-webkit-scrollbar-thumb {
    background-color: #ea4867;
}

/*----------------------------*/

header {
    background-color: #ea4867;
    width: 100%;
    margin: auto auto 10px;
    height: 8vmin;
    min-height: 4vmin;
    z-index: 1;
}

main {
    z-index: 0;
}

footer {
    width: 90%;
    margin: 10px auto auto;
    text-align: right;
    color: #ea4867;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #ea4867;
    font-family: Roboto, "Helvetica Neue", serif;
}

h2 {
    font-style: italic;
    color: #ea4867;
    font-family: "Helvetica Neue", serif;
}

h3 {
    font-family: "Helvetica Neue", serif;
    font-style: italic;
}

p {
    text-align: center;
}

ul {
    list-style: square outside;
}

a {
    text-decoration: none;
}

.audio-block {
    text-align: center;

}

.block-poem {
    width: 25%;
    margin: auto;
}

.block-me {
    width: 90%;
    margin: auto auto;
}

.name-author {
    text-align: right;
}

#hr-poem {
    width: 95%;
    height: 3px;
    margin: auto auto 50px;
    border-style: solid;
    color: #ea4867;
    background-color: #ea4867;
}

.img-block-me {
    float: left;
    height: 300px;
    width: auto;
    margin: 0 10px auto auto;
}

/*navigation bar*/

nav.navigation-full ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
    text-align: center;
}

nav.navigation-full ul ul {
    display: none;
    position: absolute;
}

nav.navigation-full ul li:hover > ul {
    display: inherit;
}

nav.navigation-full ul ul li {
    padding: 10px 10px 10px 0;
    min-width: 100px;
    display: list-item;
    position: relative;
    background-color: #ea4867;

}

nav.navigation-full ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
}

nav.navigation-full ul li a {
    color: #FFFFFF;
}

div li {
    margin: auto;
}

.menu {
    font-size: 40px;
    color: #FFFFFF;
}

nav.navigation-full ul ul li:hover { /* цвет padding при наведении*/
    background-color: #14ea77;
}

.border-radius-start { /* закругление верхов*/
    border-radius: 0 10px 0 0;
}

.border-radius-end { /* закругление концов*/
    border-radius: 0 0 10px 10px;
}

/*--------------------------------------------*/

/*отображение при экране больше 960 пикселей*/
@media screen and (min-width: 960px ) {

    .flexbox {
        margin: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .navigation-mini {
        display: none;
    }
}

/*отображение при экране меньше 960 пикселей*/
@media screen and (max-width: 960px ) {
    .navigation-full {
        display: none;
    }

    .menu2 {
        font-size: 5vmin;
        color: #FFFFFF;
        z-index: 1;
    }

    .name-menu {
        font-size: 3vmin;
        color: #FFFFFF;
    }

    nav.navigation-mini ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    nav.navigation-mini ul ul {
        display: none;
    }

    nav.navigation-mini ul li:hover > ul {
        display: inherit;
    }

    nav.navigation-mini ul ul li {
        display: list-item;
        position: relative;
        background-color: #ea4867;
    }

    nav.navigation-mini ul ul ul {

    }

    nav.navigation-mini ul li a {
        color: #FFFFFF;
    }

}


/*@media screen and (min-width: 800px) {*/
/*    .show-menu-btn, .hide-menu-btn {*/
/*        display: block;*/
/*    }*/
/*    .flexbox {*/
/*        margin: auto;*/
/*        width: 100%;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: center*/
/*    }*/
/*    .navigation-mini {*/
/*        position: fixed;*/
/*        width: 100%;*/
/*        height: 100vh;*/
/*        background: #333;*/
/*        right: -100%;*/
/*        top: 0;*/
/*        text-align: center;*/
/*        padding: 80px 0;*/
/*        line-height: normal;*/
/*        transition: 0.7s;*/

/*    }*/

/*    .menu-hide a {*/
/*        display: block;*/
/*        padding: 20px;*/
/*    }*/

/*}*/

.left {
    flex: 1 1 30%;
    text-align: center;
}

.center {
    flex: 1 1 40%;
    text-align: center;
}

.right {
    flex: 1 1 30%;
    text-align: center;
}

/*-------------------*/

/*left flex*/

div.left ul li {
    list-style: none;
}

div.left ul {
    padding: 0;
}

.image {
    width: 100%;
    max-width: 250px;
    cursor: pointer;
    margin: 10px 10px 10px 10px;
    filter: grayscale(85%);
}

.image:hover {
    filter: brightness(100%);
}

/*---------------*/

/*center flex*/
#gifEarch {
    width: 50%;
    height: 50%;
    padding: 10px 10px 10px 10px;
}

/*---------------*/

/*right flex*/

div.right ul li {
    list-style: none;
}

div.right ul {
    padding: 0;
}

.video {
    width: 560px;
    height: 315px;
    border: 5px solid white;
    margin: 50px 0 0 0;
}

/*---------------*/


.block_scroll {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 500px;
    overflow-y: scroll;
}


/*@media print {*/
/*    body {*/
/*        font-family: Times, 'Times New Roman', serif;*/
/*        font-size: 20px;*/
/*    }*/

/*    .block_scroll{*/
/*        margin: 0;*/
/*        overflow: hidden;*/
/*        width: 100%;*/
/*        height: 100%;*/

/*    }*/

/*    p, h2, a{*/
/*        color: black !important;*/
/*    }*/

/*    div.block_myself div{*/
/*        text-align: justify;*/
/*    }*/

/*    h1, div.left_column, div.right_column, img, hr, nav, footer,  .gradient_text{*/
/*        display: none;*/
/*    }*/
/*}*/